
@{
    ViewBag.Title = "Activate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="text-center">
        <h2>Activate your account</h2>

        <div class="form-group">
            <input type="text" name="username" id="password" class="form-control input-lg" placeholder="username" tabindex="5">
        </div>
        <div class="form-group">
            <input type="text" name="activationhash" id="activationhash" class="form-control input-lg" placeholder="activationhash" tabindex="6">
        </div>
        <div class="text-center"><input type="submit" value="Activate" class="btn btn-primary btn-lg" tabindex="7"> </div>
    </div>
}

@if ((TempData["Activatedfailed"]) != null)
{
    <div class="text-center">
        <div class="alert alert-danger alert-autocloseable-danger">
            Error: You have entered wrong information. Please try again.
        </div>
    </div>
}

@if ((TempData["Activated"]) != null)
{
    <div class="text-center">
        <div class="alert alert-success alert-normal-success">
            Your account has been activated.
        </div>
    </div>
}