@model ASP_PROFTAAK.Models.BijdragePosterViewModel

@{
    Layout = null;
}
<h4 class="text-center">Comments</h4>
<hr/>
@foreach (var item in Model.Reacties) 
    {
        <hr/>
        <div class="media">
            <a href="#" class="pull-left">
                <img src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s46" width="40px" height="40px">
            </a>
            <div class="media-body">
                <span class="pull-right">Juni 15, 2017</span>
                
                <p class="summary">@item.inhoud</p>
            </div>
        </div>
        <hr/>
    }
