<div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
        ×</button>
    <span class="glyphicon glyphicon-record"></span> <strong>Warning Message</strong>
    <hr class="message-inner-separator">
    <p>
        Er is iets misgegaan met het toevoegen van de reactie. Probeer het opnieuw!</p>
</div>
